# Data Analysis with Pandas

This tutorial gives a first introduction into the most important library for data analysis in Python, Pandas. After a brief introduction into Pandas, it will demo how data can be easily retrieved from a website, how it can be cleaned, and how it can be reshaped.

Let us begin by importing `pandas` into our namespace.

In [1]:
import pandas as pd

## Series

Pandas Series is based on the Numpy arrays but allow to index the individual elements using text labels, date, time, etc., which facilitates importing data, running queries, and merging multiple Series.

Let us create a simple series of population by continent. We can create the Series by using a Python `dict`.

In [2]:
s = pd.Series({"Africa": 1216000000,
               "Antartica": None,
               "Asia": 4463000000, 
               "Australia": 24130000, 
               "Europe":741400000, 
               "North America": 579000000, 
               "South America": 422500000})
s

Africa           1.216000e+09
Antartica                 NaN
Asia             4.463000e+09
Australia        2.413000e+07
Europe           7.414000e+08
North America    5.790000e+08
South America    4.225000e+08
dtype: float64

Another way is to pass data and labels separately. The advantage of this is that we can generate the index to match the number of data items.

In [3]:
s = pd.Series(data=[1216000000, None, 4463000000, 24130000, 741400000, 579000000, 422500000],
              index=["Africa", "Antartica", "Asia", "Australia", "Europe", "North America","South America"])
s

Africa           1.216000e+09
Antartica                 NaN
Asia             4.463000e+09
Australia        2.413000e+07
Europe           7.414000e+08
North America    5.790000e+08
South America    4.225000e+08
dtype: float64

If we do not want to see all data at once, but just have a look at the first three rows, we can write.

In [4]:
s.head(3)

Africa       1.216000e+09
Antartica             NaN
Asia         4.463000e+09
dtype: float64

We can do the same for the last three rows.

In [5]:
s.tail(3)

Europe           741400000.0
North America    579000000.0
South America    422500000.0
dtype: float64

These functions are handy to do quick check-ups whether the data looks ok. It will hardly be useful for indexing. As the underlying data structure is a Numpy array, we can simply use its functions for slicing.

In [6]:
s[1:-1]

Antartica                 NaN
Asia             4.463000e+09
Australia        2.413000e+07
Europe           7.414000e+08
North America    5.790000e+08
dtype: float64

The return type is again a Series. Like in Numpy, we can also run simple queries.

In [7]:
s[s>1000000000]

Africa    1.216000e+09
Asia      4.463000e+09
dtype: float64

We even apply Numpy functions to transform the data. Also here the return type is a Series.

In [8]:
import numpy as np
np.sqrt(s)

Africa           34871.191548
Antartica                 NaN
Asia             66805.688381
Australia         4912.229636
Europe           27228.661370
North America    24062.418831
South America    20554.804791
dtype: float64

Because our index is not numeric, but text, we can use text to select elements.

In [9]:
s["Africa"]

1216000000.0

We can even get a slice of a Series by using a list of labels.

In [10]:
s[["Africa","Europe"]]

Africa    1.216000e+09
Europe    7.414000e+08
dtype: float64

And, we can use a number of built-in functions. For example, we can use `isnull` to get the positions of elements that are null type, like `None`.

In [11]:
s[s.isnull()]

Antartica   NaN
dtype: float64

What is nice about Pandas, is that it already hosts some convenience functions for data analysis. For example, we can comput the total population using `sum`.

In [12]:
s.sum()

7446030000.0

Please refer to the documentation to learn about all available function for aggregating the data, including functions for basic statistics. 

`Series.plot` hosts a number of ready-to use plots, like bar charts, histpgrams, line charts, box plots, to name the most useful ones.

In [13]:
s.plot.bar()

### Exercises

1. Create a bar chart that contains only continents with a population less than 1,000,000,000.

2. Now change the colors of the bars by using the attribute `color`. You can pass a list of color name strings, one for each bar. Draw all bars in `gray` except for Australia which gets `orange`.

3. Now Sort the continents with population less than 10,000,000,000 in decending order by population. Then, again create a bar chart - this time horizontal. Apply the same color coding as above.

## DataFrame

While Series are more syntactic sugar for Numpy arrays with a shortcut to Matplotlib, the killer feature of Pandas is the DataFrame, which is the number one tool for data analysis in Python.

A DataFrame is also based on Numpy arrays, like a Series, but represents data as a table, much like a database. In a DataFrame both, rows and columns, can have a labeled index, which allows for even more powerful queries, for which we would normalle use SQL.

### Basics

Let us extend the previous example and add some additional features to our continent data.

In [14]:
data = {"continent": ["Africa", "Antartica", "Asia", "Australia", "Europe", "North America","South America"],
        "population": [1216000000, None, 4463000000, 24130000, 741400000, 579000000, 422500000],
        "area": [30221532, 14000000, 44579000, 8525989, 10180000, 24709000, 17840000],
        "most populous city": ["Lagos", "McMurdo Station", "Shanghai", "Sydney", "Moscow", "Mexico City", "São Paulo"]}
df = pd.DataFrame(data)
df

       continent    population      area most populous city
0         Africa  1.216000e+09  30221532              Lagos
1      Antartica           NaN  14000000    McMurdo Station
2           Asia  4.463000e+09  44579000           Shanghai
3      Australia  2.413000e+07   8525989             Sydney
4         Europe  7.414000e+08  10180000             Moscow
5  North America  5.790000e+08  24709000        Mexico City
6  South America  4.225000e+08  17840000          São Paulo

All that we now need to do is define `continent` as our index. Note that, generally, Pandas functions return a copy with the desired view, so that we need to reassing our variabl `df` to the return value of the function that we call. (A way to circumvent creating copies of copies and applying function that are simply there for data munging, you can use "method chaining": https://www.kaggle.com/botatu/7-learn-pandas-method-chaining)

In [15]:
df = df.set_index("continent")
df

                 population      area most populous city
continent
Africa         1.216000e+09  30221532              Lagos
Antartica               NaN  14000000    McMurdo Station
Asia           4.463000e+09  44579000           Shanghai
Australia      2.413000e+07   8525989             Sydney
Europe         7.414000e+08  10180000             Moscow
North America  5.790000e+08  24709000        Mexico City
South America  4.225000e+08  17840000          São Paulo

We can now access the data in all kinds of ways. For example, by getting a single column, which returns a Series.

In [16]:
df["population"]

continent
Africa           1.216000e+09
Antartica                 NaN
Asia             4.463000e+09
Australia        2.413000e+07
Europe           7.414000e+08
North America    5.790000e+08
South America    4.225000e+08
Name: population, dtype: float64

If we have proper columns name, these are also available as attributes.

In [17]:
df.population

continent
Africa           1.216000e+09
Antartica                 NaN
Asia             4.463000e+09
Australia        2.413000e+07
Europe           7.414000e+08
North America    5.790000e+08
South America    4.225000e+08
Name: population, dtype: float64

Sometimes, it can be annoying that we get a Series, because Series does not have the same features as DataFrames. In this case, we need two brackets.

In [18]:
df[["population"]]

                 population
continent
Africa         1.216000e+09
Antartica               NaN
Asia           4.463000e+09
Australia      2.413000e+07
Europe         7.414000e+08
North America  5.790000e+08
South America  4.225000e+08

The actual purpose of this feature is to select multiple columns though, which we can do by passing a list of column names.

In [19]:
df[["population","area"]]

                 population      area
continent
Africa         1.216000e+09  30221532
Antartica               NaN  14000000
Asia           4.463000e+09  44579000
Australia      2.413000e+07   8525989
Europe         7.414000e+08  10180000
North America  5.790000e+08  24709000
South America  4.225000e+08  17840000

Instead of columns, we can also select rows by using `loc`.

In [20]:
df.loc["Asia"]

population            4.463e+09
area                   44579000
most populous city     Shanghai
Name: Asia, dtype: object

Again, might be better if we get a DataFrame and not a Series.

In [21]:
df.loc[["Asia"]]

             population      area most populous city
continent
Asia       4.463000e+09  44579000           Shanghai

Also works with multiple rows.

In [22]:
df.loc[["Asia","North America"]]

                 population      area most populous city
continent
Asia           4.463000e+09  44579000           Shanghai
North America  5.790000e+08  24709000        Mexico City

We can also grab an individual element from the DataFrame.

In [23]:
df.at["Europe","area"]

10180000

Or we can use the index of the underlying numpy array.

In [24]:
df.iloc[4,1]

10180000

We can also select rows using boolean slicing as with Numpy arrays.

In [25]:
df[df.index=="Europe"]

            population      area most populous city
continent
Europe     741400000.0  10180000             Moscow

By combining both features, we can even create quite complicated slices. This is equally powerful as SQLs SELECT FROM WHERE syntax.

In [26]:
df[["population","area"]][df.population>1000000000]

             population      area
continent
Africa     1.216000e+09  30221532
Asia       4.463000e+09  44579000

Using a dictionary is just one way of creating a DataFrame. Another popular one is to pass a nested list or a 2d-array that contains the data, and specify index and column labels separately.

In [27]:
data = [[1216000000.0, 30221532],
        [np.nan, 14000000],
        [4463000000.0, 44579000],
        [24130000.0, 8525989],
        [741400000.0, 10180000],
        [579000000.0, 24709000],
         [422500000.0, 17840000]]
df = pd.DataFrame(data=data, 
                  index=["Africa", "Antartica", "Asia", "Australia", "Europe", "North America","South America"],
                  columns=["population","area"])
df

                 population      area
Africa         1.216000e+09  30221532
Antartica               NaN  14000000
Asia           4.463000e+09  44579000
Australia      2.413000e+07   8525989
Europe         7.414000e+08  10180000
North America  5.790000e+08  24709000
South America  4.225000e+08  17840000

Note that the name of the index column is missing. We can either add this using the `index.name`attribute or create `pandas.Index`.

In [28]:
df.index.name = "continent"
df

                 population      area
continent
Africa         1.216000e+09  30221532
Antartica               NaN  14000000
Asia           4.463000e+09  44579000
Australia      2.413000e+07   8525989
Europe         7.414000e+08  10180000
North America  5.790000e+08  24709000
South America  4.225000e+08  17840000

Now, one column is still missing, the one containing the names of the most populous cities. Let us create another list containing these names.

In [29]:
cities = ['Lagos', 'McMurdo Station', 'Shanghai', 'Sydney', 'Moscow', 'Mexico City', 'São Paulo']

We can now simply append a new column to the DataFrame by referring to it by its columns name and assigning the list to it.

In [30]:
df["most populous city"] = cities
df

                 population      area most populous city
continent
Africa         1.216000e+09  30221532              Lagos
Antartica               NaN  14000000    McMurdo Station
Asia           4.463000e+09  44579000           Shanghai
Australia      2.413000e+07   8525989             Sydney
Europe         7.414000e+08  10180000             Moscow
North America  5.790000e+08  24709000        Mexico City
South America  4.225000e+08  17840000          São Paulo

#### Exercises

1. Select the names of the most populous cities from those continents with population less than 1,000,000,000 but more than 100,000,000.

2. Use the function `dropna` to remove the column that contains NaNs.

3. Return the name of the continent where Lagos is the most populous city as `str`. You can acces the row names via the attribute `index`.

### Importing Data

In most cases, you will not have data lying around in Python dictonaries or lists, but will want to import them from some other data source, like a CSV file, an Excel workbook, or a web page. Let us skip importing local files for now and start with importing data from the web.

When importing data from web pages, you can use quite advanced libraries like `BeautifulSoup`, but for simple pages with a couple of tables, this is often not necessary, because Pandas already has functions to read HTML pages and scan these pages for tables.

Let us stick with our continent example and get some more data directly from wikipedia: https://en.wikipedia.org/wiki/Continent

To import tables from that web page, we simply use `pandas.read_html`.

In [31]:
pd.read_html(io="https://en.wikipedia.org/wiki/Continent")

[                                                   0             1        2  \
 0                                             Models           NaN      NaN
 1  Color-coded map showing the various continents...           NaN      NaN
 2                                Four continents[13]  Afro-Eurasia  America
 3                                    Five continents        Africa  Eurasia
 4                                 Six continents[14]        Africa     Asia
 5                             Six continents[15][16]        Africa  Eurasia
 6           Seven continents[16][17][18][19][20][21]        Africa     Asia

                3              4              5                  6  \
 0            NaN            NaN            NaN                NaN
 1            NaN            NaN            NaN                NaN
 2     Antarctica      Australia            NaN                NaN
 3        America     Antarctica      Australia                NaN
 4         Europe        America     Antarctica  Australia/Oceania
 5  North America  South America     Antarctica  Australia/Oceania
 6         Europe  North America  South America         Antarctica

                    7
 0                NaN
 1                NaN
 2                NaN
 3                NaN
 4                NaN
 5                NaN
 6  Australia/Oceania  ,
     0                                                  1
 0 NaN  This section possibly contains synthesis of ma...,
                    0         1                                  2  \
 0          Continent       NaN  Area (km²)[not in citation given]
 1             Africa  [note 1]                           30370000
 2         Antarctica  [note 2]                           14000000
 3               Asia  [note 3]                           44579000
 4             Europe  [note 4]                           10180000
 5      North America  [note 5]                           24709000
 6  Australia/Oceania  [note 6]                            8600000
 7      South America       NaN                           17840000

                                    3  \
 0  Area (mi²)[not in citation given]
 1                           11730000
 2                            5400000
 3                           17212000
 4                            3930000
 5                            9540000
 6                            3300000
 7                            6890000

                                              4           5                  6  \
 0  Percenttotallandmass[not in citation given]  Population  Percenttotal pop.
 1                                        20.4%  1287920000              16.9%
 2                                         9.2%   4,490[28]               0.0%
 3                                        29.5%  4545133000              59.5%
 4                                         6.8%   742648000               9.7%
 5                                        16.5%   587615000               7.7%
 6                                         5.9%    41261000               0.5%
 7                                        12.0%   428240000               5.6%

                             7
 0  Most populouscity (proper)
 1              Lagos, Nigeria
 2             McMurdo Station
 3             Shanghai, China
 4          Moscow, Russia[29]
 5         Mexico City, Mexico
 6           Sydney, Australia
 7           São Paulo, Brazil  ,
                                                    0  \
 0  Comparison of area (by tens of millions of squ...

                                                    1
 0  Graph showing population by continent as a per...  ,
     0                                                  1
 0 NaN  This section needs additional citations for ve...,
                0                  1              2               3  \
 0      Continent      Highest point  Elevation (m)  Elevation (ft)
 1           Asia      Mount Everest           8848           29029
 2  South America          Aconcagua           6960           22830
 3  North America             Denali           6198           20335
 4         Africa  Mount Kilimanjaro           5895           19341
 5         Europe       Mount Elbrus           5642           18510
 6     Antarctica      Vinson Massif           4892           16050
 7      Australia        Puncak Jaya           4884           16024

                                                4                            5  \
 0  Country or territory containing highest point                 Lowest point
 1                                China and Nepal                     Dead Sea
 2                                      Argentina            Laguna del Carbón
 3                                  United States               Death Valley †
 4                                       Tanzania                   Lake Assal
 5                                         Russia                  Caspian Sea
 6                                         (none)  Deep Lake, Vestfold Hills †
 7                              Indonesia (Papua)                    Lake Eyre

                6               7                                             8
 0  Elevation (m)  Elevation (ft)  Country or territory containing lowest point
 1           −427          −1,401                  Israel, Jordan and Palestine
 2           −105            −344                                     Argentina
 3            −86            −282                                 United States
 4           −155            −509                                      Djibouti
 5            −28             −92                                        Russia
 6            −50            −160                                        (none)
 7            −15             −49                                     Australia  ,
     0                                                  1
 0 NaN  Wikimedia Commons has media related to:  Conti...,
                                  0  \
 0                         vteEarth
 1                       Continents
 2                           Oceans
 3                            Earth
 4                      Environment
 5                          Related
 6  Category  Portal Earth sciences

                                                    1   2
 0                                                NaN NaN
 1  Africa Antarctica Asia Australia Europe North ... NaN
 2  Arctic Ocean Atlantic Ocean Indian Ocean Pacif... NaN
 3  Geography Geology Future of Earth Geological h... NaN
 4          Biome Ecology Ecosystem Nature Wilderness NaN
 5  Earth Day Earth science Geologic record Geolog... NaN
 6                                                NaN NaN  ,
                                                     0  \
 0                          vteContinents of the world
 1   Africa Antarctica Asia Australia Europe North ...
 2   Africa Antarctica Asia Australia Europe North ...
 3                                                 NaN
 4                Afro-Eurasia America Eurasia Oceania
 5                Afro-Eurasia America Eurasia Oceania
 6                                                 NaN
 7   Former supercontinentsGondwana Laurasia Pangae...
 8   Former supercontinentsGondwana Laurasia Pangae...
 9                                                 NaN
 10  Submerged continentsKerguelen Plateau Zealandi...
 11  Submerged continentsKerguelen Plateau Zealandi...
 12                                                NaN
 13  See also Regions of the worldContinental fragm...
 14  Africa Antarctica Asia Australia Europe North ...
 15                                                NaN
 16                                                NaN
 17               Afro-Eurasia America Eurasia Oceania
 18                                                NaN
 19                                                NaN
 20  Former supercontinentsGondwana Laurasia Pangae...
 21                                                NaN
 22                                                NaN
 23  Submerged continentsKerguelen Plateau Zealandi...
 24                                                NaN
 25                                                NaN

                                                     1  \
 0                                                 NaN
 1   Africa Antarctica Asia Australia Europe North ...
 2                                                 NaN
 3                                              Africa
 4                Afro-Eurasia America Eurasia Oceania
 5                                                 NaN
 6                                        Afro-Eurasia
 7   Former supercontinentsGondwana Laurasia Pangae...
 8                                                 NaN
 9   Former supercontinentsGondwana Laurasia Pangae...
 10  Submerged continentsKerguelen Plateau Zealandi...
 11                                                NaN
 12  Submerged continentsKerguelen Plateau Zealandi...
 13                                                NaN
 14                                                NaN
 15                                             Africa
 16                                             Africa
 17                                                NaN
 18                                       Afro-Eurasia
 19                                       Afro-Eurasia
 20                                                NaN
 21  Former supercontinentsGondwana Laurasia Pangae...
 22  Former supercontinentsGondwana Laurasia Pangae...
 23                                                NaN
 24  Submerged continentsKerguelen Plateau Zealandi...
 25  Submerged continentsKerguelen Plateau Zealandi...

                                                     2  \
 0                                                 NaN
 1                                                 NaN
 2                                              Africa
 3                                          Antarctica
 4                                                 NaN
 5                                        Afro-Eurasia
 6                                             America
 7                                                 NaN
 8   Former supercontinentsGondwana Laurasia Pangae...
 9   Historical continentsAmazonia Arctica Asiameri...
 10                                                NaN
 11  Submerged continentsKerguelen Plateau Zealandi...
 12  Possible future supercontinentsPangaea Ultima ...
 13                                                NaN
 14                                             Africa
 15                                         Antarctica
 16                                         Antarctica
 17                                       Afro-Eurasia
 18                                            America
 19                                            America
 20  Former supercontinentsGondwana Laurasia Pangae...
 21  Historical continentsAmazonia Arctica Asiameri...
 22  Historical continentsAmazonia Arctica Asiameri...
 23  Submerged continentsKerguelen Plateau Zealandi...
 24  Possible future supercontinentsPangaea Ultima ...
 25  Possible future supercontinentsPangaea Ultima ...

                                                     3  \
 0                                                 NaN
 1                                              Africa
 2                                          Antarctica
 3                                                Asia
 4                                        Afro-Eurasia
 5                                             America
 6                                             Eurasia
 7   Former supercontinentsGondwana Laurasia Pangae...
 8   Historical continentsAmazonia Arctica Asiameri...
 9                                                 NaN
 10  Submerged continentsKerguelen Plateau Zealandi...
 11  Possible future supercontinentsPangaea Ultima ...
 12  Mythical and hypothesised continentsAtlantis K...
 13                                                NaN
 14                                         Antarctica
 15                                               Asia
 16                                               Asia
 17                                            America
 18                                            Eurasia
 19                                            Eurasia
 20  Historical continentsAmazonia Arctica Asiameri...
 21                                                NaN
 22                                                NaN
 23  Possible future supercontinentsPangaea Ultima ...
 24  Mythical and hypothesised continentsAtlantis K...
 25  Mythical and hypothesised continentsAtlantis K...

                                                     4  \
 0                                                 NaN
 1                                          Antarctica
 2                                                Asia
 3                                           Australia
 4                                             America
 5                                             Eurasia
 6                                             Oceania
 7   Historical continentsAmazonia Arctica Asiameri...
 8                                                 NaN
 9                                                 NaN
 10  Possible future supercontinentsPangaea Ultima ...
 11  Mythical and hypothesised continentsAtlantis K...
 12  SubcontinentsArabian peninsula Indian subconti...
 13                                                NaN
 14                                               Asia
 15                                          Australia
 16                                          Australia
 17                                            Eurasia
 18                                            Oceania
 19                                            Oceania
 20                                                NaN
 21                                                NaN
 22                                                NaN
 23  Mythical and hypothesised continentsAtlantis K...
 24  SubcontinentsArabian peninsula Indian subconti...
 25  SubcontinentsArabian peninsula Indian subconti...

                                                     5  \
 0                                                 NaN
 1                                                Asia
 2                                           Australia
 3                                              Europe
 4                                             Eurasia
 5                                             Oceania
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10  Mythical and hypothesised continentsAtlantis K...
 11  SubcontinentsArabian peninsula Indian subconti...
 12                                                NaN
 13                                                NaN
 14                                          Australia
 15                                             Europe
 16                                             Europe
 17                                            Oceania
 18                                                NaN
 19                                                NaN
 20                                                NaN
 21                                                NaN
 22                                                NaN
 23  SubcontinentsArabian peninsula Indian subconti...
 24                                                NaN
 25                                                NaN

                                                     6              7  \
 0                                                 NaN            NaN
 1                                           Australia         Europe
 2                                              Europe  North America
 3                                       North America  South America
 4                                             Oceania            NaN
 5                                                 NaN            NaN
 6                                                 NaN            NaN
 7                                                 NaN            NaN
 8                                                 NaN            NaN
 9                                                 NaN            NaN
 10  SubcontinentsArabian peninsula Indian subconti...            NaN
 11                                                NaN            NaN
 12                                                NaN            NaN
 13                                                NaN            NaN
 14                                             Europe  North America
 15                                      North America  South America
 16                                      North America  South America
 17                                                NaN            NaN
 18                                                NaN            NaN
 19                                                NaN            NaN
 20                                                NaN            NaN
 21                                                NaN            NaN
 22                                                NaN            NaN
 23                                                NaN            NaN
 24                                                NaN            NaN
 25                                                NaN            NaN

                 8              9
 0             NaN            NaN
 1   North America  South America
 2   South America            NaN
 3             NaN            NaN
 4             NaN            NaN
 5             NaN            NaN
 6             NaN            NaN
 7             NaN            NaN
 8             NaN            NaN
 9             NaN            NaN
 10            NaN            NaN
 11            NaN            NaN
 12            NaN            NaN
 13            NaN            NaN
 14  South America            NaN
 15            NaN            NaN
 16            NaN            NaN
 17            NaN            NaN
 18            NaN            NaN
 19            NaN            NaN
 20            NaN            NaN
 21            NaN            NaN
 22            NaN            NaN
 23            NaN            NaN
 24            NaN            NaN
 25            NaN            NaN  ,
                                                    0       1           2  \
 0  Africa Antarctica Asia Australia Europe North ...     NaN      Africa
 1                                                NaN  Africa  Antarctica
 2                                                NaN  Africa  Antarctica

             3          4          5              6              7  \
 0  Antarctica       Asia  Australia         Europe  North America
 1        Asia  Australia     Europe  North America  South America
 2        Asia  Australia     Europe  North America  South America

                8
 0  South America
 1            NaN
 2            NaN  ,
     0       1           2     3          4       5              6  \
 0 NaN  Africa  Antarctica  Asia  Australia  Europe  North America

                7
 0  South America  ,
                                       0             1             2        3  \
 0  Afro-Eurasia America Eurasia Oceania           NaN  Afro-Eurasia  America
 1                                   NaN  Afro-Eurasia       America  Eurasia
 2                                   NaN  Afro-Eurasia       America  Eurasia

          4        5
 0  Eurasia  Oceania
 1  Oceania      NaN
 2  Oceania      NaN  ,
     0             1        2        3        4
 0 NaN  Afro-Eurasia  America  Eurasia  Oceania,
                                                    0  \
 0  Former supercontinentsGondwana Laurasia Pangae...
 1                                                NaN
 2                                                NaN


What we get in return is a list of all tables on that web page parsed into a DataFrame. We are only interested in the one that summarizes area and population, which is the one with the index `2`. Also, we can use the keyword arguments `header` and `index_col` to select the row and column which we will use as labels.

In [32]:
df = pd.read_html(io="https://en.wikipedia.org/wiki/Continent", header=0, index_col=0)[2]
df

,Unnamed: 1,Area (km²)[not in citation given],Area (mi²)[not in citation given],Percenttotallandmass[not in citation given],Population,Percenttotal pop.,Most populouscity (proper)
Continent,,,,,,,
Africa,[note 1],30370000,11730000,20.4%,1287920000,16.9%,"Lagos, Nigeria"
Antarctica,[note 2],14000000,5400000,9.2%,"4,490[28]",0.0%,McMurdo Station
Asia,[note 3],44579000,17212000,29.5%,4545133000,59.5%,"Shanghai, China"
Europe,[note 4],10180000,3930000,6.8%,742648000,9.7%,"Moscow, Russia[29]"
North America,[note 5],24709000,9540000,16.5%,587615000,7.7%,"Mexico City, Mexico"
Australia/Oceania,[note 6],8600000,3300000,5.9%,41261000,0.5%,"Sydney, Australia"
South America,NaN,17840000,6890000,12.0%,428240000,5.6%,"São Paulo, Brazil"

Now, there is one column that we do not need called `Unnamed: 1`. Let us drop this column.

In [33]:
df = df.drop("Unnamed: 1", axis=1)
df

,Area (km²)[not in citation given],Area (mi²)[not in citation given],Percenttotallandmass[not in citation given],Population,Percenttotal pop.,Most populouscity (proper)
Continent,,,,,,
Africa,30370000,11730000,20.4%,1287920000,16.9%,"Lagos, Nigeria"
Antarctica,14000000,5400000,9.2%,"4,490[28]",0.0%,McMurdo Station
Asia,44579000,17212000,29.5%,4545133000,59.5%,"Shanghai, China"
Europe,10180000,3930000,6.8%,742648000,9.7%,"Moscow, Russia[29]"
North America,24709000,9540000,16.5%,587615000,7.7%,"Mexico City, Mexico"
Australia/Oceania,8600000,3300000,5.9%,41261000,0.5%,"Sydney, Australia"
South America,17840000,6890000,12.0%,428240000,5.6%,"São Paulo, Brazil"

Pandas has several functions to obtain some basic information about properties of the data in the DataFrame, one of the is the `info` method.

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Africa to South America
Data columns (total 6 columns):
Area (km²)[not in citation given]              7 non-null int64
Area (mi²)[not in citation given]              7 non-null int64
Percenttotallandmass[not in citation given]    7 non-null object
Population                                     7 non-null object
Percenttotal pop.                              7 non-null object
Most populouscity (proper)                     7 non-null object
dtypes: int64(2), object(4)
memory usage: 392.0+ bytes

It shows that while some columns are actually numeric, most of them are not. Unless, there is categorical data stored in those columns, we must properly convert the values in these columns into floats or ints.

For example, the Population column is not numeric, because it still contains the citation marker for the population fo Antartica. We first need to turn the column into numerics. A good way to do this is by using the apply function, which does nothing else, but applying some function of our choice to each element of a column.

Let us write a little function `convert_to_int` that turns strings into ints, unless the string is not numeric, in which case it will use `0`.

In [35]:
def convert_to_int(string):
    if string.isdigit():
        return int(string)
    else:
        return None

Now all we need to do is pass our little function as argument into the apply function. (Indeed, we can use functions as function arguments. Pythonic awesomeness.)

In [36]:
df["Population"] = df["Population"].apply(convert_to_int)
df

,Area (km²)[not in citation given],Area (mi²)[not in citation given],Percenttotallandmass[not in citation given],Population,Percenttotal pop.,Most populouscity (proper)
Continent,,,,,,
Africa,30370000,11730000,20.4%,1.287920e+09,16.9%,"Lagos, Nigeria"
Antarctica,14000000,5400000,9.2%,NaN,0.0%,McMurdo Station
Asia,44579000,17212000,29.5%,4.545133e+09,59.5%,"Shanghai, China"
Europe,10180000,3930000,6.8%,7.426480e+08,9.7%,"Moscow, Russia[29]"
North America,24709000,9540000,16.5%,5.876150e+08,7.7%,"Mexico City, Mexico"
Australia/Oceania,8600000,3300000,5.9%,4.126100e+07,0.5%,"Sydney, Australia"
South America,17840000,6890000,12.0%,4.282400e+08,5.6%,"São Paulo, Brazil"

The table already looks like we can use it to produce some nice charts. Further cleaning, like removing percentage signs or citation artifacts will be left to a more advanced Pandas tutorial.

#### Exercises

1. Drop the column with area in square miles.

2. Rename all columns by giving them concise names, like "area", "pc total area", etc.

3. Write another function that strips the `%` from the columsn with percentages and then turns the numbers into proper decimal in the range [0,1].

### Visualizations

#### Bar Charts

Like a Series, a DataFrame offers the same plotting functionality. Except that we can now automatically plot two figures in one single plot.

In [ ]:
df[["pct total population","pct total area"]].plot.bar()

Note that the null value for population in Antartica is simply ignored.

If parameters provided by Pandas plotting are not sufficient for your needs, we can always grab the underlying Pyplot object.

In [ ]:
import matplotlib.pyplot as plt
ax = df[["pct total population","pct total area"]].plot.bar()
ax.set_xlabel("")
ax.set_ylabel("Percentage")

#### Tree maps

Instead of a pie chart, let us plot a tree map of the land area covered by each continent. For this, we can import the package `squarify`. Note that colors are assigned randomly, so rerunning it will produce a different-looking plot.

In [ ]:
import squarify
squarify.plot(sizes=df['area'], label=df.index)

There are of course other types of plots that are readily available, but since, we

#### Exercises

1. Create two separate bar charts, one for population and one for area.  Make sure that 


- continents have the same colors in each plot,
- both plots have a proper title.

To get a better understanding of which options are available with Pandas plots, take a looks at the documentation of the `plot` function: https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.DataFrame.plot.html

2. Create two horizontal, square subplots with a bar chart for population on the right and a bar chart of area on the left. Use the keyword argument `ax` to pass the Pyplot axes to the `bar` function. Make sure that 


- continents have the same colors in each plot,
- both plots have a proper title,
- none of the subplot has an x-axis label.

Since, each ax is a Pyplot plot, take a look at available options for Matplotlib's `plot` function: https://matplotlib.org/api/_as_gen/matplotlib.pyplot.plot.html

### Combining DataFrames

There are a number of commands for combining data frames with each other, most notabley `join`, `merge`, and `concat`. 

#### Join

Suppose we have population and area information in two separate DataFrames.

In [ ]:
df_pop = df[["population","pct total population"]]
df_area = df[["area","pct total area"]]

As long, as both DataFrame have the same index, we can simply use `join`.

In [ ]:
df_pop.join(df_area)

But what if DataFrames do not have the same index, for example, when values are missing? In this case, we need to  decide how to join the index information. There are four options:
- **left**: use the index from the left DataFrame
- **right**: use the index from the right DataFrame
- **inner**: take the intersection of the two indices
- **outer**: take the union of the two indices

Again suppose we have population and area information in two separate DataFrames, but only for a subset of  continents in either slice.

In [ ]:
df_pop_sub = df_pop.loc[["Africa", "Asia", "Europe", "South America"]]
df_area_sub = df_area.loc[["Antarctica", "Asia", "Europe", "North America"]]

#### Merge

Now, instead of using `join`, let us use `merge` instead, which additionally allows us to specify, which column to pick as the key. The default for `merge` is the inner join.

In [ ]:
pd.merge(df_pop_sub, df_area_sub, on="Continent")

If we only want to keep all rows of both DataFrame, we use the keyword `how="outer"`.

In [ ]:
pd.merge(df_pop_sub, df_area_sub, on="Continent", how="outer")

We can even use different key names for the left and the right DataFrame if this is a problem.

#### Concatenate

We can also stack DataFrames together along one axis, much like we can in Numpy with `np.r_` and `np.c_`. By default, concatenation happens row-wise (`axis=0`).

Let us split our population DataFrame again, into an upper and lower part.

In [ ]:
df_upper = df.iloc[:4]
df_lower = df.iloc[4:]

Now, we can concatenate these two parts together to obtain the same DataFrame. Let us reverse the sequence of the concatenation, just to see what happens

In [ ]:
pd.concat([df_lower,df_upper])

As we can see, the two DataFrame have just be stacked on top of each other. We can do the same column-wise. Let us concantenate the two DataFrames with the area and population data. If we want to obtain the same behaviour as with `join` for the two DataFrames with indetical indices, we must concatenate column-wise (`axis=1`).

In [ ]:
pd.concat([df_pop,df_area], axis=1)

Note that both DataFrames either had the same column names or the dame index names. If this is not the case, using `merge` is the better choice.

### Grouping Records

Another powerful feature in Pandas is grouping, which implements the split-apply-combine concept: http://www.jstatsoft.org/v40/i01/paper

Grouping helps us to break up a data set into parts, so that we can run separate analysis on each part. If you are familiar with SQL's GROUP BY or Excel's Pivot table, Pandas `groupby` should look familiar.

The `groupby` function creates group that belong to the same class by some column and then allows us to execute operations on them, like `sum`, `count`, etc.

Let us again grab data from Wikipedia, this time population by country: https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)

In [37]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)"
df2 = pd.read_html(io=url, header=0, index_col=0)[2]
df2.head()

,Country or area,UN continentalregion[2],UN statisticalregion[2],Population(1 July 2016)[3],Population(1 July 2017)[3],Change
Rank,,,,,,
—,World,—,—,7466964280,7550262101,+1.1%
1,China[a],Asia,Eastern Asia,1403500365,1409517397,+0.4%
2,India,Asia,Southern Asia,1324171354,1339180127,+1.1%
3,United States,Americas,Northern America,322179605,324459463,+0.7%
4,Indonesia,Asia,South-eastern Asia,261115456,263991379,+1.1%

Let us do a very quick cleaning of the data, by keeping only country name, continental region, and population. A very elegant way to wrap this into one line of code is by ways of methods chaining. This is a rather advanced feature, but you might find this useful if doing this more often.

In [38]:
df2 = (df2.iloc[:,[0,1,3]]
        .rename(columns={df2.columns[0]:"country", df2.columns[1]:"continent", df2.columns[3]:"population"})
        .set_index("country")
        .drop("World", axis=0)
      )
df2.head()

              continent  population
country
China[a]           Asia  1403500365
India              Asia  1324171354
United States  Americas   322179605
Indonesia          Asia   261115456
Brazil         Americas   207652865

Unlike, the DataFrame containing only continents, this table does not distinguish between North and South America, and evidently does not contain Antarctica.

Let us group the countries by continent and then compute the sum of the population on each continent.

In [39]:
df2.groupby("continent").sum()

           population
continent
Africa     1225080510
Americas    997642449
Asia       4462676731
Europe      744347158
Oceania      40117432

We can also obtain the largest country of each continent. The function `idxmax` is at our service for this case.

In [40]:
df2.groupby("continent").idxmax()

              population
continent
Africa           Nigeria
Americas   United States
Asia            China[a]
Europe            Russia
Oceania     Australia[g]

#### Exercises

1. Create a DataFrame `df_country` with the largest country on each continent. Make sure that the column label is `country`.

2. Create a DataFrame `df_merged` of the population of the largest country on each continent. Use `country` as its index.

3. Create a DataFrame that sorts the result DataFrame by population in descending order.

4. Create a horizontal bar chart of the countries with no legend.